---
import { getCollection } from "astro:content";

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from "../layouts/BaseLayout.astro";

// Component Imports
import CallToAction from "../components/CallToAction.astro";
import Grid from "../components/Grid.astro";
import Hero from "../components/Hero.astro";
import Icon from "../components/Icon.astro";
import Pill from "../components/Pill.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";

// Page section components
import ContactCTA from "../components/ContactCTA.astro";
import Skills from "../components/Skills.astro";

// Content Fetching: List four most recent work projects
const projects = (await getCollection("work"))
  .sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
  .slice(0, 4);

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<BaseLayout>
  <div class="stack gap-20 lg:gap-48">
    <div class="wrapper stack gap-8 lg:gap-20">
      <header class="hero">
        <Hero
          title="Hello, my name is Tiago"
          tagline="I love to solve problems with tech."
          align="start"
        >
          <div class="roles">
            <Pill><Icon icon="code" size="1.33em" />backend</Pill>
            <Pill><Icon icon="code" size="1.33em" />frontend</Pill>
            <Pill><Icon icon="code" size="1.33em" />web3</Pill>
            <!-- <Pill><Icon icon="microphone-stage" size="1.33em" /> Speaker</Pill> -->
            <!-- <Pill><Icon icon="pencil-line" size="1.33em" /> Content creator</Pill> -->
          </div>
        </Hero>

        <img
          alt="Tiago Brandao's photo"
          width="480"
          height="620"
          src="/personal-website/assets/portrait.jpg"
        />
      </header>

      <Skills />
    </div>

    <main class="wrapper stack gap-20 lg:gap-48">
      <section class="section with-background with-cta">
        <header class="section-header stack gap-2 lg:gap-4">
          <h3>Experiences</h3>
          <p>
            Take a look below at some places I have/had the opportunity to contribute and learn from.
          </p>
        </header>

        <div class="gallery">
          <Grid variant="offset">
            {
              projects.map((project) => (
                <li>
                  <PortfolioPreview project={project} />
                </li>
              ))
            }
          </Grid>
        </div>

        <div class="cta">
          <CallToAction
            href="https://www.linkedin.com/in/tiagomourabrandao/details/experience/"
          >
            Check my full path on Linkedin
            <Icon icon="linkedin-logo" size="1.3em" />
          </CallToAction>
        </div>
      </section>

      <section class="section with-background bg-variant">
        <header class="section-header stack gap-2 lg:gap-4">
          <h3>Tech stack</h3>
          <p>
            Throughout the years I have been using a bunch of different technologies.
          </p>
        </header>

        <div class="gallery">
          <Grid variant="small">
            {
              [
                "Go",
                "Java",
                "Javsscript",
                "Kotlin",
                "C#",
                "Python",
                "C#",
                "HTML5",
                "Angular",
                "React",
                "Typescript",
                "Android",
                "Flutter",
                "MySQL",
                "PostgreSQL",
                "SQL Server",
                "Neo4j",
                "Redis",
                "MongoDB",
                "RabbitMQ",
                "AWS",
                "Firebase",
                "Heroku",
                "Docker",
                "BlockChain",
                "Ethereum",
              ].map((brand) => (
                <li class="mention-card">
                  <p>{brand}</p>
                </li>
              ))
            }
          </Grid>
        </div>
      </section>

      <section>
        <h2 class="section-title">About me</h2>
        <div class="content">
          <p>
            I am Tiago, senior software engineer at Itaú Digital Assets. I am a
            passionate software engineer.
          </p>
          <br />
          <p>
            I have already worked as a freelancer, on long-term contracts with
            small, medium, and big companies in Brazil, worked remotely for a
            distributed team across the globe, and even built some apps to live
            a life as an entrepreneur (it led me to a freelance job on digital
            marketing).
          </p>
          <br />
          <p>
            In all those jobs I always was looking to build something meaningful
            for people, work with technologies that I never met before, and meet
            great people to learn from and help them to do a great job.
          </p>
          <br />
          <p>
            Do you have an idea and want to chat about it? I may help you to
            build it. Maybe you are creating the next Facebook/Amazon or just
            creating something meaningful to you and your customers. I really
            would like to talk to you.
          </p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .roles {
    display: none;
  }

  .hero img {
    aspect-ratio: 5 / 4;
    object-fit: cover;
    object-position: top;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .hero {
      display: grid;
      grid-template-columns: 6fr 4fr;
      padding-inline: 2.5rem;
      gap: 3.75rem;
    }

    .roles {
      margin-top: 0.5rem;
      display: flex;
      gap: 0.5rem;
    }

    .hero img {
      aspect-ratio: 3 / 4;
      border-radius: 4.5rem;
      object-fit: cover;
    }
  }

  /* ====================================================== */

  .section {
    /* display: grid; */
    gap: 2rem;
  }

  .with-background {
    position: relative;
  }

  .with-background::before {
    --hero-bg: var(--bg-image-subtle-2);

    content: "";
    position: absolute;
    pointer-events: none;
    left: 50%;
    width: 100vw;
    aspect-ratio: calc(2.25 / var(--bg-scale));
    top: 0;
    transform: translateY(-75%) translateX(-50%);
    background: url("/assets/backgrounds/noise.png") top center/220px repeat,
      var(--hero-bg) center center / var(--bg-gradient-size) no-repeat,
      var(--gray-999);
    background-blend-mode: overlay, normal, normal, normal;
    mix-blend-mode: var(--bg-blend-mode);
    z-index: -1;
  }

  .with-background.bg-variant::before {
    --hero-bg: var(--bg-image-subtle-1);
  }

  .section-header {
    justify-self: center;
    text-align: center;
    max-width: 50ch;
    font-size: var(--text-md);
    color: var(--gray-300);
  }

  .section-header h3 {
    font-size: var(--text-2xl);
  }

  @media (min-width: 50em) {
    .section {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: "header header header header" "gallery gallery gallery gallery";
      gap: 5rem;
    }

    .section.with-cta {
      grid-template-areas: "header header header cta" "gallery gallery gallery gallery";
    }

    .section-header {
      grid-area: header;
      font-size: var(--text-lg);
    }

    .section-header h3 {
      font-size: var(--text-4xl);
    }

    .with-cta .section-header {
      justify-self: flex-start;
      text-align: left;
    }

    .gallery {
      grid-area: gallery;
    }

    .cta {
      grid-area: cta;
      margin-top: 20px;
    }
  }

  /* ====================================================== */

  .mention-card {
    display: flex;
    height: 3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid var(--gray-800);
    border-radius: 1.5rem;
    color: var(--gray-300);
    background: var(--gradient-subtle);
    box-shadow: var(--shadow-sm);
  }

  @media (min-width: 50em) {
    .mention-card {
      border-radius: 1.5rem;
      height: 3.5rem;
    }
  }
</style>
